.form-control::placeholder {
    color: white ;
    opacity: 1 ;
}
body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: white;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
    color: white;
    border: 1px solid #352f5b;
  }
  .delete{
    cursor: pointer;
  }

  .filtered {
    display: none !important;
  }